<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ShopProjectSV" connectionString="Data Source=P6251\SQLEXPRESS;Initial Catalog=ShopProjectSV;Persist Security Info=True;User ID=sa;Password=AlexandruP6251" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>